# Prop 64 analysis

by brunofranco

This is a sample notebook prepared as part of the Python for Data Journalists MOOC.

In [31]:
import pandas as pd

Reading in the list of propositions and committees from CSV

In [32]:
props = pd.read_csv("http://www.firstpythonnotebook.org/_static/committees.csv")

In [92]:
props.head()

,ocd_prop_id,calaccess_prop_id,ccdc_prop_id,prop_name,ccdc_committee_id,calaccess_committee_id,committee_name,committee_position
0,ocd-contest/b51dc64d-3562-4913-a190-69f5088c22a6,1376258,70,PROPOSITION 051 - SCHOOL BONDS. FUNDING FOR K-...,382,1374469,YES ON PROPOSITION 51 - CALIFORNIANS FOR QUALI...,SUPPORT
1,ocd-contest/b51dc64d-3562-4913-a190-69f5088c22a6,1376258,70,PROPOSITION 051 - SCHOOL BONDS. FUNDING FOR K-...,383,1220380,COMMUNITY COLLEGE FACILITY COALITION ISSUES CO...,SUPPORT
2,ocd-contest/b51dc64d-3562-4913-a190-69f5088c22a6,1376258,70,PROPOSITION 051 - SCHOOL BONDS. FUNDING FOR K-...,384,1282321,TORLAKSON'S INVEST IN CALIFORNIA A BALLOT MEAS...,SUPPORT
3,ocd-contest/b51dc64d-3562-4913-a190-69f5088c22a6,1376258,70,PROPOSITION 051 - SCHOOL BONDS. FUNDING FOR K-...,385,1382843,CALIFORNIA TAXPAYERS AND EDUCATORS OPPOSED TO ...,OPPOSE
4,ocd-contest/85990193-9d6f-4600-b8e7-bf1317841d82,1362198,71,PROPOSITION 052 - STATE FEES ON HOSPITALS. FED...,386,1362973,YES ON PROPOSITION 52 - A COALITION OF CALIFOR...,SUPPORT

In [93]:
props.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 8 columns):
ocd_prop_id               102 non-null object
calaccess_prop_id         102 non-null int64
ccdc_prop_id              102 non-null int64
prop_name                 102 non-null object
ccdc_committee_id         102 non-null int64
calaccess_committee_id    102 non-null int64
committee_name            102 non-null object
committee_position        102 non-null object
dtypes: int64(4), object(4)
memory usage: 6.4+ KB

Read in the list of contributions to ballot measures

In [67]:
contribs = pd.read_csv("http://www.firstpythonnotebook.org/_static/contributions.csv")

In [68]:
contribs.head()

,calaccess_committee_id,committee_name,calaccess_filing_id,date_received,contributor_lastname,contributor_firstname,contributor_city,contributor_state,contributor_zip,contributor_employer,contributor_occupation,contributor_is_self_employed,amount
0,1386560,ADULT USE CAMPAIGN FOR PROPOSITION 64; THE,2083796,2016-09-18,BERGMAN,GRETCHEN,SPRING VALLEY,CA,91978,A NEW PATH,EXECUTIVE DIRECTOR,False,84.0
1,1386560,ADULT USE CAMPAIGN FOR PROPOSITION 64; THE,2083796,2016-09-18,KAHLE,MYRNA,SAN DIEGO,CA,92109,NATIONAL SCHOOL DISTRICT,TEACHER,False,35.0
2,1386560,ADULT USE CAMPAIGN FOR PROPOSITION 64; THE,2083796,2016-07-15,MCDEVITT,LEO,ESCONDIDO,CA,92025,LIFE IONIZERS,SEO/CONTENT MANAGER,False,198.0
3,1386560,ADULT USE CAMPAIGN FOR PROPOSITION 64; THE,2083796,2016-08-10,WARREN-SAMARIPA,STEPHANIE,SAN DIEGO,CA,92116,STEPHANIE WARREN SAMARIPA,ENTREPRENEUR,False,-50.0
4,1386560,ADULT USE CAMPAIGN FOR PROPOSITION 64; THE,2083796,2016-07-26,WARREN-SAMARIPA,STEPHANIE,SAN DIEGO,CA,92116,STEPHANIE WARREN SAMARIPA,ENTREPRENEUR,True,50.0

In [69]:
contribs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56379 entries, 0 to 56378
Data columns (total 13 columns):
calaccess_committee_id          56379 non-null int64
committee_name                  56379 non-null object
calaccess_filing_id             56379 non-null int64
date_received                   56379 non-null object
contributor_lastname            56375 non-null object
contributor_firstname           53411 non-null object
contributor_city                56369 non-null object
contributor_state               56363 non-null object
contributor_zip                 56366 non-null object
contributor_employer            48572 non-null object
contributor_occupation          53273 non-null object
contributor_is_self_employed    56379 non-null bool
amount                          56379 non-null float64
dtypes: bool(1), float64(1), int64(2), object(9)
memory usage: 5.2+ MB

In [94]:
contribs.contributor_occupation.value_counts().reset_index()

                              index  contributor_occupation
0              CORRECTIONAL OFFICER                   28617
1                           RETIRED                    3795
2                        UNEMPLOYED                    2630
3                      NOT EMPLOYED                    2500
4                          ATTORNEY                    1364
5                          ENGINEER                     537
6                         PROFESSOR                     393
7                         PHYSICIAN                     356
8                           TEACHER                     352
9                             OWNER                     305
10                           WRITER                     275
11                       CONSULTANT                     251
12                            SALES                     197
13                          MANAGER                     191
14                SOFTWARE ENGINEER                     172
15                         DIRECTOR                     164
16                        PRESIDENT                     160
17          CHIEF EXECUTIVE OFFICER                     122
18                     PSYCHOLOGIST                     113
19                        HOMEMAKER                     108
20                        SCIENTIST                     105
21                       CONTRACTOR                     102
22                           ARTIST                      97
23                 REGISTERED NURSE                      93
24                        EXECUTIVE                      92
25                     NOT-EMPLOYED                      87
26                      REAL ESTATE                      86
27                        ARCHITECT                      86
28                         DESIGNER                      82
29                        MARKETING                      81
...                             ...                     ...
2166                  TIMBER FARMER                       1
2167  ACTRESS/SCREENWRITER/PRODUCER                       1
2168         MEDICAL ADMINISTRATIVE                       1
2169                  AUTO DETAILER                       1
2170      VICE PRESIDENT OF REVENUE                       1
2171       VENTURE CAPITAL INVESTOR                       1
2172                        BARISTA                       1
2173                             DJ                       1
2174                      ECOMMERCE                       1
2175                          SOLAR                       1
2176                 MEDICAL CODING                       1
2177            POSTDOCTORAL FELLOW                       1
2178             COMPUTER PROGRAMER                       1
2179               PROFESSOR OF LAW                       1
2180                  WATER TESTING                       1
2181                           HVAC                       1
2182                    COPY EDITOR                       1
2183          DOCUMENTARY FILMMAKER                       1
2184                INSURANCE SALES                       1
2185                      BAR OWNER                       1
2186        ADMINISTRATIVE DIRECTOR                       1
2187                      PERFORMER                       1
2188                 PRIVATE EQUITY                       1
2189                        PAYROLL                       1
2190     INFRASTRUCTURE ENGINEERING                       1
2191     BUSINESS AFFAIRS EXECUTIVE                       1
2192          PHYSICIAN RADIOLOGIST                       1
2193              KNOWLEDGE MANAGER                       1
2194            FIREARMS INSTRUCTOR                       1
2195              TEACHER (RETIRED)                       1

[2196 rows x 2 columns]

In [71]:
props.prop_name.value_counts() .reset_index()

                                                index  prop_name
0   PROPOSITION 057 - CRIMINAL SENTENCES. JUVENILE...         13
1   PROPOSITION 056 - CIGARETTE TAX TO FUND HEALTH...         12
2   PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...         11
3   PROPOSITION 066- DEATH PENALTY. PROCEDURES. IN...          9
4   PROPOSITION 055 - TAX EXTENSION TO FUND EDUCAT...          8
5   PROPOSITION 067- REFERENDUM TO OVERTURN BAN ON...          7
6   PROPOSITION 062- DEATH PENALTY. INITIATIVE STA...          7
7   PROPOSITION 059- SB 254 (CHAPTER 20, STATUTES ...          6
8   PROPOSITION 053 - REVENUE BONDS. STATEWIDE VOT...          4
9   PROPOSITION 054 - LEGISLATURE. LEGISLATION AND...          4
10  PROPOSITION 058 - SB 1174 (CHAPTER 753, STATUT...          4
11  PROPOSITION 063- FIREARMS. AMMUNITION SALES. I...          4
12  PROPOSITION 051 - SCHOOL BONDS. FUNDING FOR K-...          4
13  PROPOSITION 052 - STATE FEES ON HOSPITALS. FED...          3
14  PROPOSITION 061- STATE PRESCRIPTION DRUG PURCH...          3
15  PROPOSITION 060- ADULT FILMS. CONDOMS. HEALTH ...          2
16  PROPOSITION 065- CARRY-OUT BAGS. CHARGES. INIT...          1

In [72]:
props.prop_name.value_counts()

PROPOSITION 057 - CRIMINAL SENTENCES. JUVENILE CRIMINAL PROCEEDINGS AND SENTENCING. INITIATIVE CONSTITUTIONAL AMENDMENT AND STATUTE.                           13
PROPOSITION 056 - CIGARETTE TAX TO FUND HEALTHCARE, TOBACCO USE PREVENTION, RESEARCH, AND LAW ENFORCEMENT. INITIATIVE CONSTITUTIONAL AMENDMENT AND STATUTE.    12
PROPOSITION 064- MARIJUANA LEGALIZATION. INITIATIVE STATUTE.                                                                                                   11
PROPOSITION 066- DEATH PENALTY. PROCEDURES. INITIATIVE STATUTE.                                                                                                 9
PROPOSITION 055 - TAX EXTENSION TO FUND EDUCATION AND HEALTHCARE. INITIATIVE CONSTITUTIONAL AMENDMENT.                                                          8
PROPOSITION 067- REFERENDUM TO OVERTURN BAN ON SINGLE-USE PLASTIC BAGS.                                                                                         7
PROPOSITION 062- DEATH PENALTY. INITIATIVE STATUTE.                                                                                                             7
PROPOSITION 059- SB 254 (CHAPTER 20, STATUTES OF 2016), ALLEN. CAMPAIGN FINANCE: VOTER INSTRUCTION                                                              6
PROPOSITION 053 - REVENUE BONDS. STATEWIDE VOTER APPROVAL. INITIATIVE CONSTITUTIONAL AMENDMENT.                                                                 4
PROPOSITION 054 - LEGISLATURE. LEGISLATION AND PROCEEDINGS. INITIATIVE CONSTITUTIONAL AMENDMENT AND STATUTE.                                                    4
PROPOSITION 058 - SB 1174 (CHAPTER 753, STATUTES OF 2014), LARA. ENGLISH LANGUAGE EDUCATION                                                                     4
PROPOSITION 063- FIREARMS. AMMUNITION SALES. INTIATIVE STATUTE.                                                                                                 4
PROPOSITION 051 - SCHOOL BONDS. FUNDING FOR K-12 SCHOOL AND COMMUNITY COLLEGE FACILITIES. INITIATIVE STATUTORY AMENDMENT.                                       4
PROPOSITION 052 - STATE FEES ON HOSPITALS. FEDERAL MEDI-CAL MATCHING FUNDS. INITIATIVE STATUTORY AND CONSTITUTIONAL AMENDMENT.                                  3
PROPOSITION 061- STATE PRESCRIPTION DRUG PURCHASES. PRICING STANDARDS. INITIATIVE STATUTE.                                                                      3
PROPOSITION 060- ADULT FILMS. CONDOMS. HEALTH REQUIREMENTS. INITIATIVE STATUTE.                                                                                 2
PROPOSITION 065- CARRY-OUT BAGS. CHARGES. INITIATIVE STATUTE.                                                                                                   1
Name: prop_name, dtype: int64

In [73]:
prop = props[props.prop_name == "PROPOSITION 062- DEATH PENALTY. INITIATIVE STATUTE."]

In [74]:
prop.head()

,ocd_prop_id,calaccess_prop_id,ccdc_prop_id,prop_name,ccdc_committee_id,calaccess_committee_id,committee_name,committee_position
63,ocd-contest/cad98dde-416b-4cb3-8565-c1e8079511b3,1381268,81,PROPOSITION 062- DEATH PENALTY. INITIATIVE STA...,445,1380590,"YES ON 62, NO ON 66. REPLACE THE COSTLY, FAILE...",SUPPORT
64,ocd-contest/cad98dde-416b-4cb3-8565-c1e8079511b3,1381268,81,PROPOSITION 062- DEATH PENALTY. INITIATIVE STA...,446,1302403,CALIFORNIA CORRECTIONAL PEACE OFFICERS ASSOCIA...,OPPOSE
65,ocd-contest/cad98dde-416b-4cb3-8565-c1e8079511b3,1381268,81,PROPOSITION 062- DEATH PENALTY. INITIATIVE STA...,447,1346266,"CALIFORNIANS TO MEND, NOT END, THE DEATH PENAL...",OPPOSE
66,ocd-contest/cad98dde-416b-4cb3-8565-c1e8079511b3,1381268,81,PROPOSITION 062- DEATH PENALTY. INITIATIVE STA...,448,1391170,"MILLION VOTER PROJECT ACTION FUND - YES ON 55,...",SUPPORT
67,ocd-contest/cad98dde-416b-4cb3-8565-c1e8079511b3,1381268,81,PROPOSITION 062- DEATH PENALTY. INITIATIVE STA...,449,1385745,FUND FOR POLICY REFORM (NONPROFIT 501(C)(4)),SUPPORT

In [75]:
prop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7 entries, 63 to 69
Data columns (total 8 columns):
ocd_prop_id               7 non-null object
calaccess_prop_id         7 non-null int64
ccdc_prop_id              7 non-null int64
prop_name                 7 non-null object
ccdc_committee_id         7 non-null int64
calaccess_committee_id    7 non-null int64
committee_name            7 non-null object
committee_position        7 non-null object
dtypes: int64(4), object(4)
memory usage: 504.0+ bytes

In [76]:
contribs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56379 entries, 0 to 56378
Data columns (total 13 columns):
calaccess_committee_id          56379 non-null int64
committee_name                  56379 non-null object
calaccess_filing_id             56379 non-null int64
date_received                   56379 non-null object
contributor_lastname            56375 non-null object
contributor_firstname           53411 non-null object
contributor_city                56369 non-null object
contributor_state               56363 non-null object
contributor_zip                 56366 non-null object
contributor_employer            48572 non-null object
contributor_occupation          53273 non-null object
contributor_is_self_employed    56379 non-null bool
amount                          56379 non-null float64
dtypes: bool(1), float64(1), int64(2), object(9)
memory usage: 5.2+ MB

In [77]:
merged = pd.merge(prop, contribs, on="calaccess_committee_id")

In [78]:
merged.head()

,ocd_prop_id,calaccess_prop_id,ccdc_prop_id,prop_name,ccdc_committee_id,calaccess_committee_id,committee_name_x,committee_position,committee_name_y,calaccess_filing_id,date_received,contributor_lastname,contributor_firstname,contributor_city,contributor_state,contributor_zip,contributor_employer,contributor_occupation,contributor_is_self_employed,amount
0,ocd-contest/cad98dde-416b-4cb3-8565-c1e8079511b3,1381268,81,PROPOSITION 062- DEATH PENALTY. INITIATIVE STA...,445,1380590,"YES ON 62, NO ON 66. REPLACE THE COSTLY, FAILE...",SUPPORT,"YES ON 62, NO ON 66. REPLACE THE COSTLY, FAILE...",2012950,2015-12-15,ALEXANDER,SUZI,SAN FRANCISCO,CA,94107,"ROBBINS GELLER RUDMAN & DOWD, LLP",ATTORNEY,False,100.0
1,ocd-contest/cad98dde-416b-4cb3-8565-c1e8079511b3,1381268,81,PROPOSITION 062- DEATH PENALTY. INITIATIVE STA...,445,1380590,"YES ON 62, NO ON 66. REPLACE THE COSTLY, FAILE...",SUPPORT,"YES ON 62, NO ON 66. REPLACE THE COSTLY, FAILE...",2012950,2015-12-08,ALLEN,GARLAND,SANTA MONICA,CA,90403,LAW OFFICE OF GARLAND ALLEN,ATTORNEY,False,1500.0
2,ocd-contest/cad98dde-416b-4cb3-8565-c1e8079511b3,1381268,81,PROPOSITION 062- DEATH PENALTY. INITIATIVE STA...,445,1380590,"YES ON 62, NO ON 66. REPLACE THE COSTLY, FAILE...",SUPPORT,"YES ON 62, NO ON 66. REPLACE THE COSTLY, FAILE...",2012950,2015-12-14,ANDREWS,KATHRYN,EL CERRITO,CA,94530,"KATHRYN ANDREWS, ATTORNEY AT LAW",ATTORNEY,False,100.0
3,ocd-contest/cad98dde-416b-4cb3-8565-c1e8079511b3,1381268,81,PROPOSITION 062- DEATH PENALTY. INITIATIVE STA...,445,1380590,"YES ON 62, NO ON 66. REPLACE THE COSTLY, FAILE...",SUPPORT,"YES ON 62, NO ON 66. REPLACE THE COSTLY, FAILE...",2012950,2015-12-15,BACON,ROBERT,OAKLAND,CA,94610,"ROBERT D. BACON, ATTORNEY AT LAW",ATTORNEY,False,750.0
4,ocd-contest/cad98dde-416b-4cb3-8565-c1e8079511b3,1381268,81,PROPOSITION 062- DEATH PENALTY. INITIATIVE STA...,445,1380590,"YES ON 62, NO ON 66. REPLACE THE COSTLY, FAILE...",SUPPORT,"YES ON 62, NO ON 66. REPLACE THE COSTLY, FAILE...",2012950,2015-12-14,BAYLESS,RICHARD,FREMONT,CA,94539,NONE,RETIRED,False,100.0

In [79]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34442 entries, 0 to 34441
Data columns (total 20 columns):
ocd_prop_id                     34442 non-null object
calaccess_prop_id               34442 non-null int64
ccdc_prop_id                    34442 non-null int64
prop_name                       34442 non-null object
ccdc_committee_id               34442 non-null int64
calaccess_committee_id          34442 non-null int64
committee_name_x                34442 non-null object
committee_position              34442 non-null object
committee_name_y                34442 non-null object
calaccess_filing_id             34442 non-null int64
date_received                   34442 non-null object
contributor_lastname            34438 non-null object
contributor_firstname           33920 non-null object
contributor_city                34434 non-null object
contributor_state               34432 non-null object
contributor_zip                 34432 non-null object
contributor_employer            33559 non-null object
contributor_occupation          33915 non-null object
contributor_is_self_employed    34442 non-null bool
amount                          34442 non-null float64
dtypes: bool(1), float64(1), int64(5), object(13)
memory usage: 5.3+ MB

In [80]:
merged.amount.sum()

32836678.18

In [81]:
merged.committee_position.value_counts()

OPPOSE     29633
SUPPORT     4809
Name: committee_position, dtype: int64

In [82]:
support = merged[merged.committee_position == "SUPPORT"]

In [83]:
oppose = merged[merged.committee_position == "OPPOSE"]

In [84]:
oppose.amount.sum()

16836069.809999999

In [85]:
support.amount.sum()

16000608.370000001

In [86]:
support.amount.sum() / merged.amount.sum()

0.48727853293472212

In [87]:
merged.groupby("committee_name_x").amount.sum()

committee_name_x
CALIFORNIA CORRECTIONAL PEACE OFFICERS ASSOCIATION TRUTH IN AMERICAN GOVERNMENT FUND; NO ON PROPOSITION 62, YES ON PROPOSITION 66 (NON-PROFIT 501 (C) 5)    8.343218e+06
CALIFORNIANS TO MEND, NOT END, THE DEATH PENALTY. NO ON PROP 62, YES ON PROP 66. SUPPORTED BY PROSECUTORS, LAW ENFORCEMENT, AND FAMILIES OF VICTIMS.        8.387852e+06
FUND FOR POLICY REFORM (NONPROFIT 501(C)(4))                                                                                                                6.140000e+06
MILLION VOTER PROJECT ACTION FUND - YES ON 55, 56, 57, 58, 62, AND NO ON 66, SPONSORED BY SOCIAL JUSTICE ADVOCATES AND ORGANIZATIONS                        2.110000e+06
SAN FRANCISCO POLICE OFFICERS ASSOCIATION ISSUES PAC - YES ON 66, NO ON 62                                                                                  1.050000e+05
VOLUNTEERS FOR YES ON 62                                                                                                                                    1.289300e+05
YES ON 62, NO ON 66. REPLACE THE COSTLY, FAILED DEATH PENALTY SYSTEM. SPONSORED BY TAXPAYERS FOR SENTENCING REFORM                                          7.621678e+06
Name: amount, dtype: float64

In [88]:
merged.groupby("committee_name_x").amount.sum().reset_index()

                                    committee_name_x        amount
0  CALIFORNIA CORRECTIONAL PEACE OFFICERS ASSOCIA...  8.343218e+06
1  CALIFORNIANS TO MEND, NOT END, THE DEATH PENAL...  8.387852e+06
2       FUND FOR POLICY REFORM (NONPROFIT 501(C)(4))  6.140000e+06
3  MILLION VOTER PROJECT ACTION FUND - YES ON 55,...  2.110000e+06
4  SAN FRANCISCO POLICE OFFICERS ASSOCIATION ISSU...  1.050000e+05
5                           VOLUNTEERS FOR YES ON 62  1.289300e+05
6  YES ON 62, NO ON 66. REPLACE THE COSTLY, FAILE...  7.621678e+06

In [89]:
merged.groupby("committee_name_x").amount.sum().reset_index().sort_values("amount", ascending=False)

                                    committee_name_x        amount
1  CALIFORNIANS TO MEND, NOT END, THE DEATH PENAL...  8.387852e+06
0  CALIFORNIA CORRECTIONAL PEACE OFFICERS ASSOCIA...  8.343218e+06
6  YES ON 62, NO ON 66. REPLACE THE COSTLY, FAILE...  7.621678e+06
2       FUND FOR POLICY REFORM (NONPROFIT 501(C)(4))  6.140000e+06
3  MILLION VOTER PROJECT ACTION FUND - YES ON 55,...  2.110000e+06
5                           VOLUNTEERS FOR YES ON 62  1.289300e+05
4  SAN FRANCISCO POLICE OFFICERS ASSOCIATION ISSU...  1.050000e+05

In [90]:
merged.groupby(["contributor_firstname", "contributor_lastname"]).amount.sum().reset_index().sort_values("amount", ascending=False)

      contributor_firstname contributor_lastname     amount
28389                THOMAS               STEYER  1750000.0
21807              NICHOLAS              MCKEOWN  1500000.0
23734                  REED             HASTINGS  1000000.0
17402               L. JOHN                DOERR   500000.0
22506                  PAUL               GRAHAM   500000.0
11190              HENRY T.         NICHOLAS III   400000.0
16159                 JULIE             MOTAMEDI   350000.0
24673           ROBERT ALAN              EUSTACE   175000.0
27959                 SUSAN                GROFF   160000.0
14166                  JOHN            O'FARRELL   100000.0
9610                  FRANK            QUATTRONE   100000.0
18585              M. QUINN              DELANEY   100000.0
24270            RICHARD J.              RIORDAN   100000.0
10931                 H. F.        BOECKMANN, II   100000.0
28444             THOMAS F.               STEYER   100000.0
18790                  MARC              BENIOFF   100000.0
4                A. JERROLD            PERENCHIO   100000.0
7041             DEBRA JANE           STEINHARDT   100000.0
22299                PAMELA                GROFF   100000.0
18337                 LUCKY                LIPPA    90000.0
7122                 DENISE             FODERARO    75000.0
27823             STEVEN L.                CRAIG    70000.0
8439                  ELLIE               KANNER    60000.0
29974               WILLIAM                 LYON    60000.0
3646                  CARLA                 EMIL    50000.0
24236            RICHARD G.              WOLLACK    50000.0
23773                  REID              HOFFMAN    50000.0
24671             ROBERT A.                  DAY    50000.0
8119                 EDWARD              REDLICH    50000.0
10126                GEESKE                 JOEL    50000.0
...                     ...                  ...        ...
28039                SYLVIA               CURTIS       25.0
5268                  CRAIG                REISS       25.0
23587               RAYMOND               BUCHER       25.0
16479             KATHARINE                BLAIR       25.0
17659              LAURELEI               BAILEY       25.0
28605               TIMOTHY               HARROW       25.0
10872                GUNNAR           VON KOHLER       25.0
22815                 PETER                 ENTE       25.0
19103              MARIANNE              RATHMAN       20.0
29421                 VELIA            HERNANDEZ       20.0
8390              ELIZABETH                FRIEL       20.0
4637            CHRISTOPHER                 SENN       20.0
295                  ADRIAN                FRANA       20.0
22874              PETER J.              FERRARA       20.0
24568                ROBERT            MCCONNELL       20.0
29881                 WENDY                ALLEN       20.0
14598               JOHNNIE               MARLOW       15.0
23089            R. RICHARD                  ROE       15.0
3865                  CAROL               NELSON       15.0
26476                SAYURI                HANNA       15.0
737               ALEXANDER                 POST       15.0
27405             STEPHANIE            MACINTOSH       15.0
27264                 SOFIE           VANDEPUTTE       11.0
8100                 EDWARD              DEERING       10.0
7171                 DENNIS           MCLAUGHLIN       10.0
13810                   JIM            PATRICOLA       10.0
21520                MORLEY                 KAHN        9.0
27659                STEVEN                HODEL        5.0
6984                 DEBBIE               MYTELS        5.0
29959               WILLIAM              BABBITT        0.0

[30433 rows x 3 columns]

In [91]:
merged.groupby(["contributor_firstname", "contributor_lastname", "committee_position"]).amount.sum().reset_index().sort_values("amount", ascending=False)

      contributor_firstname contributor_lastname committee_position     amount
28396                THOMAS               STEYER            SUPPORT  1750000.0
21812              NICHOLAS              MCKEOWN            SUPPORT  1500000.0
23740                  REED             HASTINGS            SUPPORT  1000000.0
22511                  PAUL               GRAHAM            SUPPORT   500000.0
17405               L. JOHN                DOERR            SUPPORT   500000.0
11192              HENRY T.         NICHOLAS III             OPPOSE   400000.0
16162                 JULIE             MOTAMEDI             OPPOSE   350000.0
24680           ROBERT ALAN              EUSTACE            SUPPORT   175000.0
27966                 SUSAN                GROFF             OPPOSE   160000.0
24276            RICHARD J.              RIORDAN             OPPOSE   100000.0
18793                  MARC              BENIOFF            SUPPORT   100000.0
10933                 H. F.        BOECKMANN, II             OPPOSE   100000.0
22304                PAMELA                GROFF             OPPOSE   100000.0
4                A. JERROLD            PERENCHIO             OPPOSE   100000.0
28451             THOMAS F.               STEYER            SUPPORT   100000.0
7043             DEBRA JANE           STEINHARDT             OPPOSE   100000.0
18588              M. QUINN              DELANEY            SUPPORT   100000.0
9612                  FRANK            QUATTRONE            SUPPORT   100000.0
14168                  JOHN            O'FARRELL            SUPPORT   100000.0
18340                 LUCKY                LIPPA             OPPOSE    90000.0
7124                 DENISE             FODERARO            SUPPORT    75000.0
27830             STEVEN L.                CRAIG             OPPOSE    70000.0
8441                  ELLIE               KANNER            SUPPORT    60000.0
29981               WILLIAM                 LYON             OPPOSE    60000.0
3646                  CARLA                 EMIL            SUPPORT    50000.0
6364                  DAVID              SPENCER            SUPPORT    50000.0
10128                GEESKE                 JOEL            SUPPORT    50000.0
23779                  REID              HOFFMAN            SUPPORT    50000.0
24242            RICHARD G.              WOLLACK            SUPPORT    50000.0
24678             ROBERT A.                  DAY             OPPOSE    50000.0
...                     ...                  ...                ...        ...
19257              MARIPOSA       DE LOS ANGELES            SUPPORT       25.0
22780                 PEGGY              SHARYON            SUPPORT       25.0
17662              LAURELEI               BAILEY            SUPPORT       25.0
28612               TIMOTHY               HARROW            SUPPORT       25.0
5268                  CRAIG                REISS            SUPPORT       25.0
15831               JOYCE L              COCHRAN            SUPPORT       25.0
18958              MARGARET                COHEN            SUPPORT       25.0
23592               RAYMOND               BUCHER            SUPPORT       25.0
29428                 VELIA            HERNANDEZ            SUPPORT       20.0
29888                 WENDY                ALLEN            SUPPORT       20.0
24575                ROBERT            MCCONNELL            SUPPORT       20.0
295                  ADRIAN                FRANA            SUPPORT       20.0
22879              PETER J.              FERRARA            SUPPORT       20.0
4637            CHRISTOPHER                 SENN            SUPPORT       20.0
8392              ELIZABETH                FRIEL            SUPPORT       20.0
19106              MARIANNE              RATHMAN            SUPPORT       20.0
26483                SAYURI                HANNA            SUPPORT       15.0
14601               JOHNNIE               MARLOW            SUPPORT       15.0
27412             STEPHANIE            MACINTOSH            SUPPORT       15.0
737               ALEXANDER                 POST            SUPPORT       15.0
23094            R. RICHARD                  ROE            SUPPORT       15.0
3865                  CAROL               NELSON            SUPPORT       15.0
27271                 SOFIE           VANDEPUTTE            SUPPORT       11.0
13812                   JIM            PATRICOLA            SUPPORT       10.0
7173                 DENNIS           MCLAUGHLIN            SUPPORT       10.0
8102                 EDWARD              DEERING            SUPPORT       10.0
21525                MORLEY                 KAHN            SUPPORT        9.0
27666                STEVEN                HODEL            SUPPORT        5.0
6986                 DEBBIE               MYTELS            SUPPORT        5.0
29966               WILLIAM              BABBITT            SUPPORT        0.0

[30440 rows x 4 columns]